
body{ 
    background-color: whitesmoke;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="apellido"], 
select {
    width: 100%; 
    padding: 4px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    font-size: 16px; 
}

.contenido {
    width: 20%;
    height: 58%;
}

 body.contraste {
    background-color: #000;
    color: rgb(255, 255, 255)!important;
}

body.contraste ::placeholder {
    color: rgba(245, 245, 245, 0.778) !important; 
    opacity: 1; 
}

body.contraste .contenido {
    background-color: #1c1c1c !important;
    color: rgb(255, 255, 255) !important;
    border: 1px solid #444444 !important;
}

body.contraste input,
body.contraste select {
    background-color: #000 !important;
    color: rgb(255, 255, 255) !important;
    border: 1px solid #444444 !important;
}

button {
    margin-top: 10px;
    cursor: pointer;
    
}


body.contraste button {
    background-color: rgb(255, 234, 0);
    color: black;
}

body.contraste .btn_estilo {
    background-color: rgb(255, 234, 0);
    color: black;
}

body.contraste .enviar {
    background-color: rgb(255, 234, 0);
    color: black;
}
